body {
    margin: 0;
    font-family: Roboto, Arial, serif;
    background: lightgrey;
}

.content {
    margin: 4em;
}

header {
    padding: 2em;
    background: cadetblue;
}

header > h1 > a {
    color: white;
    text-decoration: none;
}

table, th, td {
}

tr:nth-child(2n+0) > td {
    background: lightgrey;
}

th {
    border-bottom: white 3px solid;
}

td {
    height: 3em;
    text-align: center;
    margin: 0;
    background: rgba(255,255,255,0.4);
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* Form CSS */
form{
    padding: 2em;


}

.column{
    padding: 1em;
}

.btn {
    border-radius: 5px;
    background-color: dimgrey;
    border: none;
    color: white;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3c3c3c;
}