<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <header>
        <h1>
            <a href="http://127.0.0.1:8000/home">Paper Plane Tournament</a>
        </h1>
    </header>

    <div class="content">
        {{ form_start(form) }}


        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
