<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="./styling.css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <table>
                <tr>
                {% for key in entities.0|keys %}
                    <th> {{ key }}</th>
                {% endfor %}
                </tr>

                {% for item in entities %}
                    <tr>
                        {% for row, value in item %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {%  endfor %}
            </table>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
